<!-- ga-django-python/templates/index.html -->
{% load static %}
<!-- CSS CUSTOM -->
<link rel="stylesheet" href="{% static 'styles.css' %}">
<html> 
    <body> 
        
        <div class="login-box auth0-box before firstdiv"> 
            <div class="child">
                <h2>Welcome to Narnia</h2> 
                <img src="https://i.cloudup.com/StzWWrY34s.png" /> 
                <h3>Click below to get in</h2> 
                <button class="btn-login">
                    <a class="btn btn-primary btn-lg btn-login btn-block" href="/login/auth0" style="color: white"> 
                        Login/Register 
                    </a> 
                </button>
            </div>
        </div> 
    </body> 
</html>